<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Question Database : {{selectFileName}}</title>
</head>

<body>
    <h1>{{selectFileName}}</h1>
    <div class="questionBox">
        <div class="question"></div>
        <div class="answer"></div>
    </div>
    <script>
        let answerCount = 0
        const questionList = {{ questionList| tojson }}
        const answerList = {{ answerList| tojson }}
        const question = document.querySelector('.question')
        const answer = document.querySelector('.answer')
        question.textContent = questionList[answerCount].split(' ')[0] + ' ' + questionList[answerCount].split(' ')[1]
        console.log(answerList)
        console.log(questionList)
    </script>
</body>

</html>